{% extends 'patient/base.html' %}

{% block content %}


<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        {% if patientsInfo %}
             <h1>You have {{ patientsInfo.count }} Current Profile{{ patientsInfo.count|pluralize }}</h1>
        {% else %}
             <h1>Current Profiles</h1>
        {% endif %}
    </div>
</div>
<!-- ************************************************ -->
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
    {% if patientsInfo %}
        <div class="list-group-center">
            {% for patient in patientsInfo %}
                <a role="button" class="btn btn-warning" href='{% url 'viewpatientinfo' patient.id %}'>
                   {{ patient.Full_name }}
                </a>

                <a role="button" class="btn btn-secondary" href='{% url 'deletepatientinfo' patient.id %}'>
                   Delete?
                </a>
                <p>{{ patient.created|date:'d F Y,l' }} &nbsp;&nbsp;&nbsp; <b> Result: </b>{{ patient.result }}</p>

                <br>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h2>Looks like you don't have any profiles!</h2>
        <br>
        <a role="button" class="btn btn-primary" href="{% url 'createpatientinfo' %}">Create new</a>
        </div>
    {% endif %}
    </div>
</div>
<!-- *********************************************** -->
<!-- <ul>
  {% for patient in patientsInfo %}
  <li>
    <a href='{% url 'viewpatientinfo' patient.id %}'>
    {{ patient.Full_name }}
    </a>
    <br>
    <br> -->


<!--
  </li>
  {% endfor %}
</ul> -->

{% endblock %}
