{% extends 'patient/base.html' %}
{% load static %}
{% block content %}

    <br>
    <br>
    <br>
    <br>
    <!-- <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div> -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 text-center">
                 <h1>MedTech: Protect The Skin You’re In.</h1>
                 <p>MedTech provides a platform to our users for <b>early detection </b> of skin cancer from your home. Never forgot that skin cancer is treated best only when detected early!</p>

                  <p><i> <b>Don’t Let Cancer Get Under Your Skin.</b></i></p>

                  {% if user.is_authenticated %}
                  {% else %}
                      <a role="button" class="btn btn-success btn-lg" href="{% url 'signupuser' %}" >
                        Start
                        <i class="fas fa-briefcase-medical"></i>
                      </a>
                  {% endif %}

        </div>
    </div>
<br><br>
<hr>
 <!-- ********************************************************* COLLAPSE ************************************************* -->

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
             <h5>Overview of Skin Cancer</h5>
             <br>
    </div>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header bg-light" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-info" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Introduction
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Skin cancer is the most common cancer diagnosis, and it’s the most preventable cancer.
         Most skin cancer is caused by damage from the sun’s UV rays (ultraviolet radiation).
         This year, an estimated 96,400 people will be diagnosed with melanoma—the most dangerous type of skin cancer—and over 7,200 will die of the disease.
         Every year, over two million people are diagnosed with non-melanoma skin cancer—either basal cell or squamous cell carcinoma.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-light" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Melanoma Skin Cancer
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <p>Melanoma is the most feared type of skin cancer. Though less common than basal cell and squamous cell cancer, it is responsible for the majority of deaths from the disease as a whole.
        Melanoma may arise in normal skin but often begins in an existing mole. It is found most frequently on the back in men, on the legs in women, and on the palms of the hands, soles of the feet, and under the fingernails or toenails of people of both sexes with darker skin colors.
        That said, these cancers may occur anywhere, including areas of the skin that have never been exposed to the sun.
        The incidence of melanoma has been rising dramatically in the United States for the last three decades. While melanoma in general is 20 times more common in whites, the incidence of cases that occur under the nails is similar for people of all skin color.</p>
        <p>In addition, the survival rate in those diagnosed is lower in black people.
        The prognosis of melanoma is good when found early, but drops precipitously when it spreads to distant lymph nodes or organs, such as the bones, the lungs, the liver, and the brain.
        Newer treatments, however, are making a difference in survival, and even some advanced melanomas can now be controlled with these options.</p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-light" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Risk Factors
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <p>People with certain risk factors are more likely than others to develop skin cancer. Risk factors vary for different types of skin cancer, but some general risk factors are having-</p>
        <ul>
          <li>A lighter natural skin color.</li>
          <li>Family history of skin cancer.</li>
          <li>A personal history of skin cancer.</li>
          <li>Exposure to the sun through work and play.</li>
          <li>A history of sunburns, especially early in life.</li>
          <li>A history of indoor tanning.</li>
          <li>Skin that burns, freckles, reddens easily, or becomes painful in the sun.</li>
          <li>Blue, gray or green eyes</li>
          <li>Blond, red or light brown hair.</li>
          <li>Certain types and a large number of moles</li>
          <li>History of being treated with radiation. </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-light" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Prevention
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p>Protection from ultraviolet (UV) radiation is important all year round, not just during the summer or at the beach. UV rays from the sun can reach you on cloudy and hazy days, as well as bright and sunny days. UV rays also reflect off of surfaces like water, cement, sand, and snow. Indoor tanning (using a tanning bed, booth, or sunlamp to get tan) exposes users to UV radiation.</p>
        <p>The hours between 10 a.m. and 4 p.m. Daylight Saving Time (9 a.m. to 3 p.m. standard time) are the most hazardous for UV exposure outdoors in the continental United States. UV rays from sunlight are the greatest during the late spring and early summer in North America.</p>
        <p>CDC recommends easy options for protection from UV radiation -</p>
        <ul style="list-style-type:square;">
          <li>Stay in the shade, especially during midday hours.</li>
          <li>Wear clothing that covers your arms and legs.</li>
          <li>Wear a hat with a wide brim to shade your face, head, ears, and neck.</li>
          <li>Wear sunglasses that wrap around and block both UVA and UVB rays.</li>
          <li>Use sunscreen and lip balm with a sun protection factor (SPF) of 30 or higher, and both UVA and UVB (broad spectrum) protection</li>
          <li>Avoid indoor tanning.</li>
          <li>Examine your skin once a month. Tell your health care professional a bout skin changes.</li>
        </ul>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header bg-light" id="headingFive">
    <h5 class="mb-0">
      <button class="btn btn-info collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Early Detection
      </button>
    </h5>
  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
    <div class="card-body">
      <p>Not all skin cancers can be prevented, and early detection then becomes the goal. Self-skin checks should be considered, especially for those who have any risk factors for the disease.
        ﻿ Some people who have significant risk factors or genetic syndromes associated with a higher risk may want to consider regular visits with their dermatologist. </p>
      <p>The U.S. Preventive Services Task Force (USPSTF) has concluded there is not enough evidence to recommend for or against routine screening (total body examination by a doctor) to find skin cancers early.
        This recommendation is for people who do not have a history of skin cancer and who do not have any suspicious moles or other spots.
        Report any unusual moles or changes in your skin to your doctor.
        Also talk to your doctor if you are at increased risk of skin cancer.</p>
    </div>
  </div>
</div>
</div>
<br>


<!-- ************************************************* ABCDE rules ********************************************** -->

<div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
             <h5>ABCDE rules for Skin Cancer Identification</h5>
             <br>
    </div>
</div>



    <div class="row ">
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-white bg-dark mb-4" >
          <div class="card-header">A for Asymmetry</div>
          <div class="card-body">
            <!-- <h5 class="card-title">Dark card title</h5> -->
            <p class="card-text">Normal moles are typically symmetrical. If you draw a line through the center, you would have two symmetrical halves. In cases of skin cancer, spots will not look the same on both sides.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-white bg-dark mb-4">
          <div class="card-header">B for Border</div>
            <div class="card-body">
              <!-- <h5 class="card-title">Dark card title</h5> -->
              <p class="card-text">Moles, spots, or “beauty marks" are typically round and of no cause for concern. Those with a blurry and/or jagged edge can be a sign of a cancerous or pre-cancerous growth.</p>
            </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-white bg-dark mb-4" >
          <div class="card-header">C for Color</div>
            <div class="card-body">
              <!-- <h5 class="card-title">Dark card title</h5> -->
              <p class="card-text"> A mole that has more than one color should be considered suspicious. Color changes can include the darkening of a spot or a lightening in certain parts of the growth.</p>
            </div>
        </div>
      </div>

  <div class="col-lg-4 col-md-6 col-sm-12 ">
    <div class="card border-dark mb-4" >
      <div class="card-header">D for Diameter</div>
      <div class="card-body text-dark">
        <!-- <h5 class="card-title">Dark card title</h5> -->
        <p class="card-text">If growth is larger than a pencil eraser (6mm), it needs to be checked by a doctor. This includes areas of skin that do not have any other abnormalities in terms of color, border, or asymmetry.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card border-dark mb-4" >
      <div class="card-header">E for Evolving</div>
        <div class="card-body text-dark">
          <!-- <h5 class="card-title">Dark card title</h5> -->
          <p class="card-text">Evolving/Elevation means that the mole or growth is raised and has an uneven surface. It is both the irregularity of the surface and changes in size that should raise the red flag.</p>
        </div>
    </div>
  </div>
</div>

<br>


<!-- ********************************************************* CAROUSEL ******************************************************** -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'patient/fact.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'patient/fact2.png' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'patient/fact3.png' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>







<br>
<br>
{% endblock %}
